{% extends 'base.html' %}

{% block content %}
{% if messages %} 
	{% for msg, msg_class in messages %}
		<div class="alert alert-{{ msg_class }}">{{ msg }}</div>
	{% endfor %} 
{% endif %}

<h2>Módulo de execução</h2>
{% if configuracaoferramenta_obj %}
	<div>
		{{ configuracaoferramenta_obj.id }}</br />&nbsp;
	</div>

{% else %}

	<p>Para executar a ferramenta, defina antes a configuração a ser utilizada.</p>

	<form class="form-horizontal" action="/executar_ferramenta/" method="post" novalidate>
	    {% csrf_token %}
	    <div>
			{% if form.non_field_errors %}
				{{ form.non_field_errors }}
			{% else %}	
				&nbsp;
			{% endif %}
		</div>
	    {% for field in form %}
		<div class="form-group" style="padding: 0 0 15px;">
			{{ field.label_tag }}
			{{ field }}
			{{ field.errors }}
		</div>
		{% endfor %}
		<input class="btn btn-success" type="submit" value="Prosseguir" />&nbsp;&nbsp;&nbsp;
		<a class="btn btn-info" href="{% url 'home' %}" role="button">Voltar</a>
	</form> 

{% endif %}

{% endblock %}