appdirs
asgiref
backcall
binaryornot
CacheControl
certifi
chardet
colorama
contextlib2
decorator
distlib
distro
Django
django-admin-interface
django-colorfield
django-extensions
django-flat-responsive
django-flat-theme
gitdb
gitdb2
GitPython
html5lib
idna
ipaddr
ipdb
ipython
ipython-genutils
jedi
lizard
lockfile
mistune
msgpack
packaging
parso
pep517
pexpect
pickleshare
progress
prompt-toolkit
psycopg2-binary
ptyprocess
PyDriller
Pygments
pygraphviz
pyparsing
pytoml
pytz
requests
retrying
six
smmap
smmap2
sqlparse
traitlets
typing
urllib3
VerbalExpressions
wcwidth
webencodings
xlwt