{% extends 'base.html' %}

{% block content %}
{% if messages %} 
	{% for msg, msg_class in messages %}
		<div class="{{ msg_class }}">{{ msg }}</div>
	{% endfor %} 
{% endif %}

<!-- <h2>Módulo de análise de repositórios</h2> -->
<h3>Selecione uma opção: </h3>
<ul>
	<li>
		<a class="btn btn-info btn-mini" href="{% url 'info_criacao_client' %}" role="button">Commits exclusivos do fork (repositório "client")</a>
	</li>
	<li>
		<a class="btn btn-info btn-mini" href="{% url 'analisar_timeline' %}" role="button">Timeline entre repositórios origem e forkeado</a>
	</li>
	<li>
		<a class="btn btn-info btn-mini" href="{% url 'simular_conflitos' %}" role="button">Simulação de conflitos de mesclagem entre origem e forkeado</a>
	</li>
	<br><hr>
	<li>
		<a class="btn btn-info btn-mini" href="{% url 'comparar_repositorios' %}" role="button">Comparar repositórios</a>
	</li>
	<li>
		<a class="btn btn-info btn-mini" href="{% url 'visualizar_comparacao_repositorios' %}" role="button">Visualizar comparação entre repositórios</a>
	</li>
</ul>
{% endblock %}