{% extends 'base.html' %}

{% block content %}
{% if messages %} 
	{% for msg, msg_class in messages %}
		<div class="alert alert-{{ msg_class }}">{{ msg }}</div>
	{% endfor %} 
{% endif %}

<h2>Módulo de análise de repositórios</h2>
<h3>Simulação de conflitos de merge</h3>
<table class="table table-sm table-bordered table-striped">
    <thead>
        <tr>
            <th scope="col"># Rodada</th>
            <th scope="col">Total de arquivos em conflito</th>
            <th scope="col">Total de trechos em conflito</th>
            <th scope="col">Total de linhas em conflito</th>
        </tr>
    </thead>
    <tbody>
        {% for rodada, conflitos in conflitos_por_rodada.items %}
        <tr>
            <td>{{ rodada }}</td>
            <td>{{ conflitos.0.keys|length }}</td>
            <td>{{ conflitos.1 }}</td>
            <td>{{ conflitos.2 }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}